In [7]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" # to run all arguments and not just the last one
from __future__ import division

In [12]:
users=[
{"id":0,"name":"Hero"},
{"id":1,"name":"Dunn"},
{"id":2,"name":"Sue"},
{"id":3,"name":"Chi"},
{"id":4,"name":"Thor"},
{"id":5,"name":"Clive"},
{"id":6,"name":"Hicks"},
{"id":7,"name":"Devin"},
{"id":8,"name":"Kate"},
{"id":9,"name":"Klein"}
]
users
type(users)

[{'id': 0, 'name': 'Hero'},
 {'id': 1, 'name': 'Dunn'},
 {'id': 2, 'name': 'Sue'},
 {'id': 3, 'name': 'Chi'},
 {'id': 4, 'name': 'Thor'},
 {'id': 5, 'name': 'Clive'},
 {'id': 6, 'name': 'Hicks'},
 {'id': 7, 'name': 'Devin'},
 {'id': 8, 'name': 'Kate'},
 {'id': 9, 'name': 'Klein'}]

list

In [13]:
friendships=[(0,1),(0,2),(1,2),(1,3),(2,3),(3,4),
(4,5),(5,6),(5,7),(6,8),(7,8),(8,9)]
friendships

[(0, 1),
 (0, 2),
 (1, 2),
 (1, 3),
 (2, 3),
 (3, 4),
 (4, 5),
 (5, 6),
 (5, 7),
 (6, 8),
 (7, 8),
 (8, 9)]

In [15]:
for user in users:
    user["friends"]=[]

In [18]:
for i, j in friendships:
    users[i]["friends"].append(users[j])#add i as a friend of j
    users[j]["friends"].append(users[i])#add j as a friend of i

In [26]:
5/2 # integer division by default
from __future__ import division
5/2

# if we need integer division again, use //
5//2

2.5

2.5

2

In [28]:
len(r"\t") # use r"" to use a literal \
""" We can create multiline comments
using triple quotes
"""

2

' We can create multiline comments\nusing triple quotes\n'

In [30]:
print 0/0 # this raises an error, we can handle them and avoid a program crash

ZeroDivisionError: division by zero

In [32]:
try:
    print 0/0
except ZeroDivisionError:
    print "cannot divide by 0"

cannot divide by 0

In [37]:
# the function extend
x = [1, 2, 3]
x.extend([4, 5, 6])
x

x = [1, 2, 3]
y = x + [4, 5, 6] ; y # can use list addition if we don't want to modify the original list

x = [1, 2, 3]
x.append(0);x # we can also append to lists

x, y = [1, 2] ;x ;y # x is 1, y is 2

[1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

[1, 2, 3, 0]

1

2

In [39]:
# Tuples
my_list = [1, 2]
my_tuple = (1, 2)
other_tuple = 3, 4
my_list[1] = 3      # my_list is now [1, 3]
try:
    my_tuple[1] = 3
except TypeError:
    print "cannot modify a tuple"

cannot modify a tuple

In [41]:
# Tuples are a convenient way to return multiple values from functions
def sum_and_product(x, y):
    return (x + y), (x * y)

sp = sum_and_product(2, 3); sp
s, p = sum_and_product(5, 10);s ;p

(5, 6)

15

50

In [6]:
x = 1; y = 2; x; y
x, y = y, x # the pythonic way to swap two variables
x; y

1

2

2

1

In [1]:
# Random numbers generated using package random. seed can also be set
# Regex
import re
print all([                                     # all of these are true because
        not re.match("a", "cat"),               # 'cat' doesn't start with 'a'
        re.search("a", "cat"),                  # cat has an a in it 
        not re.search("c", "dog"),              # dog doesn't have a c in it
        3 == len(re.split("[ab]", "carbs")),    # split on a or b to c, r, s
        "R-D-" == re.sub("[0-9]", '-', 'R2D2')  # replace digits with dashes
    ])

True

In [5]:
 1 - (.5 ** 99)

1.0